<div id="save-buttons" {% if zone == "direct" %}class="direct"{% endif %}>
    <label  for="text-checkbox"
            title="display the remaining text and markers in the svg output in red">
            preview</label>
    <input  id="text-checkbox" type="checkbox" class="body-class-check" value="check-text" data-name="c" data-frame="svg-iframe"/>
    <button id="save-svg">get SVG</button>
    <button id="save-hpgl">get HPGL</button>
  </div>
  <script src="/static/js/export_interface.js"></script>