:root{
    --bar-h: 3rem;
    --c-link: blue;
    --c-back: whitesmoke;
    --c-default: black;
    --c-contributed: palegreen;
    --c-jave: mediumpurple;
}

body{
    font-family: monospace;
    font-size: 0.875rem;
    line-height: 1.45;

}

button, input[type="submit"], input[type="file"]{
    background-color: var(--c-link);
    border: none;
    border-radius: 5em;
    padding: 0.5em 1em;
    color: white;
}

a{
    color: var(--c-link);
}
a:hover{
    font-weight: bold;
}
p{
    margin: 0.5rem 0;
}


h1,h2{
    font-weight: bold;
}
hr{
    border: 0;
    border-top: 1px solid black;
    margin: 1rem 0 1rem;
}
hr:last-of-type{
    display: none;
}

strong{
    font-weight: bold;
}
label{
    font-weight: bold;
}

input, button, label{
    font-family: monospace;
    display: block;
    font-size: 0.875rem;
}
label, input{
    display: inline-block;
}

#save-buttons{
    position: fixed;
    top: 0.5rem;
    right: 0.5em;
    width: fit-content;
    margin-left: auto;
}
#save-buttons > input,
#save-buttons > button, 
#save-buttons > label{
    margin-bottom: 0.5rem;
}
#save-buttons.direct{
    top: calc(var(--bar-h) * 2 + 0.5rem);
    right: 1.5em;
}

.double{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
}
.double > div{
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    padding: 1rem;
    font-family: monospace;
    font-size: 1rem;
}
.double .f-ascii{
    font-size: 0.5rem;
}
.double svg{
    transform-origin: top left;
    transform: scale(0.5);
}

.f-ascii{
    font-family: monospace;
    font-size: .875rem;
    background-color: white;
    overflow: auto;
    line-height: 1.2;
}


/* autofix colors */
.fix-label{
    border-bottom: solid limegreen 3px;
}
.fix{
    outline: 1px solid limegreen;
}
span.fix{
    outline: none;
    color: limegreen;
    font-weight: bold;
}


svg{
    overflow: visible;
}

