.filled{
	fill: none !important;
}

text{
    font-family: monospace !important;
    font-weight: bold !important;
    fill: red !important;
    visibility: visible;
}
marker > *{
    stroke: darkorange !important;
    visibility: visible;
}
body.check-text text,
body.check-text marker > *{
    visibility: hidden;
}