<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/FileSaver.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/svg.css" />
  </head>

  <body>
    {{ svg|safe }}
    {% include 'partials/export_interface.html' %}
  </body>
</html>