{% extends "base.html" %}

{% block body %}

<div class="gallery">
  <h3>workshop ISBA besancon, march 2024</h3>
  <img src="static/img/besancon/IMG_20240328_125714_221.jpg">
  <img src="static/img/besancon/IMG_20240329_124337_021.jpg">
  <img src="static/img/besancon/IMG_20240328_124910_531.jpg">
  <img src="static/img/besancon/IMG_20240328_163941_866.jpg">
  <img src="static/img/besancon/gothik_square_recto.jpg">

  <h3>workshop OSP plotter station, may 2024</h3>
  <img src="static/img/osp/2100-1401-max.png">
  <img src="static/img/osp/1137-915-max.png">
  <img src="static/img/osp/IMG_20240608_195836_007.jpg">
  <img src="static/img/osp/IMG_20240608_202836_644.jpg">
  <img src="static/img/osp/stars-vs-creatures.png">

  <h3>identity for black hole performance, september 2024</h3>
  <img src="static/img/hole/proto.png">
  <img src="static/img/hole/black_hole.png">
  <img src="static/img/hole/logo_chimere.png">

  <h3>other drawings</h3>
  <img src="static/img/self/IMG_20240612_203609_322.jpg">
  <img src="static/img/self/main.svg">
</div>

{% endblock %}

